
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        rgba(0,0,0,.65),
        rgba(0,0,0,.65)
    ),
    url("../assets/img/fondos/fondofichaje.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

form{
    width:550px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
}

h1{
    text-align:center;
    color:#111;
    margin-bottom:20px;
}

label{
    display:block;
    margin-top:12px;
    font-weight:bold;
    color:#222;
}

input,
select{
    width:100%;
    padding:12px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
    transition:.3s;
}

input:focus,
select:focus{
    border-color:gold;
    box-shadow:0 0 5px rgba(255,215,0,.5);
}

button{
    width:100%;
    padding:12px;
    margin-top:20px;
    background:black;
    color:gold;
    border:none;
    border-radius:10px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:gold;
    color:black;
}

.back{
    display:block;
    text-align:center;
    margin-top:15px;
    text-decoration:none;
    color:#555;
    font-weight:bold;
}

.back:hover{
    color:#000;
}

